@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Noto Sans JP", sans-serif;
}
section{
    padding-top: 100px;
}
img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
nav a:hover{
    color: #00ADC9;
    opacity: 0.8;
}
.nav-button{
    display: none;
    padding: 0;
    border: 0;
    background: transparent;
}
.br-sp{
    display: none;
}
.br-tb{
    display: none;
}
.contents{
    max-width: 1000px;
    margin: 0 auto;
}
.title{
    text-align: center;
    color: #00ADC9;
    font-size: 6rem;
    font-weight: 900;
    line-height: 60%;
}
.subtitle{
    color: #222;
    font-size: 2rem;
    font-weight: 500;
}
.accordion-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    padding-bottom: 30px;
    border: none;
    background-color: #fff;
    color: #222;
    font-weight: 600;
    font-size: 1em;
    transition: opacity 1s;
}
.accordion-btn::after {
    position: absolute;
    top: 35px;
    left: 47%;
    transform: rotate(135deg);
    width: 15px;
    height: 15px;
    border-top: 2px solid #222;
    border-right: 2px solid #222;
    transition: opacity 1s;
    content: '';
}
.accordion-btn:hover{
    color: #00ADC9;
    opacity: 0.7;
    cursor: pointer;
}
.accordion-btn:hover::after{
    content: "";
    border-top: 2px solid #00ADC9;
    border-right: 2px solid #00ADC9;
    opacity: 0.7;
}
.entry-btn{
    margin: 0 auto;
    width: 320px;
    height: 70px;
    position: relative;
    background-color: #7e7e7e;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .2);
}
.entry-btn:hover{
    box-shadow: none;
    transform: translateY(5px);
}
.entry-btn a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 10px;
}
.entry-btn .btn-name{
    color: #fff;
    font-size: 26px;
    font-weight: 700;
}
.entry-btn .btn-subname{
    font-size: 14px;
    font-weight: 900;
}
.entry-btn i{
    position: absolute;
    top: 30%;
    right: 5%;
}
[class*='entry_arrow'] {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
}
[class*='entry_arrow']::before{/*矢印を設定*/
    position: absolute;
    content: '';
    top: 25%;
    left: 5px;
    width: 25px;
    height: 15px;
    background: #6d6d6d;
    clip-path: polygon(25% 0%, 75% 50%, 25% 100%);
}

/* header */
header{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
header .logo{
    margin-right: 15%;
}
.menu{
    display: flex;
    white-space: nowrap;
}
.menu a{
    display: block;
    padding: 18.5px 15px;
    color: #222;
    font-size: 1rem;
    font-weight: 500;
}

/* mainimage */
.video-container {
    margin: 0 auto;
    width: 100%;
}
.video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
video {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
}
.mv_catch :not(img) {
    width: 100%;
    height: auto;
}
.mv_catch {
    position: absolute;
    left: 120px;
    bottom: 180px;
}
.pc {
    display: block;
}
.sp{
	display: none;
}

/* company */
.company_text{
    margin-top: 100px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 100px;
}
.company_message{
    margin-top: 80px;
    margin-bottom: 50px;
    color: #00ADC9;
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
}
.ceo_image{
    margin-bottom: 80px;
}

.company_accordion .information{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    border-top: solid 1px #DDDDDD;
}
.company_accordion .information:first-child{
    padding-top: 14px;
    border-top: 0px;
}
.company_accordion .information:last-child{
    padding-bottom: 0px;
}
.company_accordion dt{
    width: 35%;
    margin-left: 15px;
    font-weight: 500;
}
.company_accordion dd{
    width: 65%;
    font-weight: 500;
}
.company_accordion .company_history{
    margin-top: 30px;
}
.office_image{
    margin-top: 100px;
    margin-bottom: 150px;
    text-align: center;
}

    /* アコーディオンのCSS */
.company_information{
    max-width: 1000px;
    background-color: #fff;
}
.company_information:not([open]){
    margin-bottom: 7px;
}
.company_information summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #00ADC9;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.company_information summary::-webkit-details-marker{
    display: none;
}
.company_information summary::after{
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    content: '';
    transition: transform .3s;
}
.company_information[open] summary::after{
    transform: rotate(225deg);
}
.company_information dl{
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 1em 2em 2em 2em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}
.company_information[open] dl{
    transform: none;
    opacity: 1;
}

.company_history{
    max-width: 1000px;
    background-color: #fff;
}
.company_history:not([open]){
    margin-bottom: 7px;
}
.company_history summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #00ADC9;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.company_history summary::-webkit-details-marker{
    display: none;
}
.company_history summary::after{
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    content: '';
    transition: transform .3s;
}
.company_history[open] summary::after{
    transform: rotate(225deg);
}
.company_history dl{
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 1em 2em 2em 2em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}
.company_history[open] dl{
    transform: none;
    opacity: 1;
}

/* symposium */
.symposium{
    background-color: #00ADC9;
}
.symposium .contents{
    padding-top: 100px;
    padding-bottom: 2%;
    border-radius: 50px;
    background-color: #fff;
}
.symposium_text{
    margin-bottom: 50px;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    line-height: 45px;
}
.member{
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 4rem;
    font-weight: 900;
    color: #00ADC9;
    text-align: center;
}
.member_image-area{
    text-align: center;
}
.member_image-boxup,.member_image-boxunder{
    display: flex;
    justify-content: space-around;
}
.member_image-boxup{
    margin-bottom: 50px;
}
.member_list p{
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 400;
}
.member_accordion .accordion-btn{
    margin-top: 60px;
}
.member_faq{
    width: 800px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.member_faq dt{
    margin-top: 100px;
    color: #00ADC9;
    font-size: 2rem;
    font-weight: 700;
}
.member_faq .member_a1-box,.member_faq .member_a2-box,.member_faq .member_a3-box{
    margin-top: 60px;
    display: flex;
    column-gap: 60px;
}
.member_a1-boximage,.member_a2-boximage,.member_a3-boximage{
    text-align: center;
}
.member_a1-boximage p,.member_a2-boximage p,.member_a3-boximage p{
    margin-top: 20px;
    font-size: 1.25rem;
}
.member_boxtext{
    width: 65%;
}
.member_a1-box:nth-child(2),.member_a2-box:nth-child(2),.member_a3-box:nth-child(2){
    flex-direction: row-reverse;
}

/* interview */
.interview{
    padding-bottom: 200px;
    background-color: #00ADC9;
}
.interview .contents{
    padding-top: 100px;
    padding-bottom: 1px;
    background-color: #fff;
    border-radius: 50px;
}
.interview .title{
    margin-bottom: 80px;
}
.interview_box{
    display: flex;
    align-items: center;
}
.interview_text{
    width: fit-content;
    margin: 0 auto;
}
.interview_text-comment{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2;
    text-align: center;
}
.comment-border{
    border-bottom: 5px solid #00ADC9;
}
.interview_text-joining{
    margin-top: 50px;
    font-size: 1.25rem;
    text-align: center;
}
.interview_accordion{
    margin-top: 50px;
    margin-bottom: 5%;
}
.interview_faq{
    width: 800px;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 150px;
}
.interview_faq dt{
    margin-bottom: 15px;
    color: #00ADC9;
    font-size: 2rem;
    font-weight: 700;
}
.interview_faq dd{
    margin-bottom: 30px;
    font-size: 1.25rem;
}

/* data */
.data_contents-sp{
    display: none;
}
.data_contents{
    position: relative;
}
.data_bg{
    z-index: 0;
}
.data_image-boxarea{
    position: absolute;
    top: 73px;
    left: 80px;
}
.data_image-upbox,.data_image-centerbox,.data_image-underbox{
    display: flex;
    justify-content: space-between;
}
.data_image-upbox,.data_image-centerbox{
    margin-bottom: 60px;
}

/* recruitment */
.recruitment_text{
    margin: 65px 0;
    font-size: 18px;
    text-align: center;
}
.recruitment_accordion .information{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    border-top: 1px solid #DDDDDD;
}
.recruitment_accordion .information:first-child{
    padding-top: 14px;
    border-top: 0px;
}
.recruitment_accordion .information:last-child{
    border-bottom: 1px solid #DDDDDD;
}
.recruitment_accordion dt{
    width: 35%;
    margin-left: 15px;
    font-weight: 700;
}
.recruitment_accordion dd{
    width: 65%;
    font-weight: 500;
}

    /* salesアコーディオンのCSS */
.sales{
    max-width: 980px;
    background-color: #fff;
}
.sales:not([open]){
    margin-bottom: 30px;
}
.sales[open]{
    margin-bottom: 80px;
}
.sales summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #00ADC9;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.sales summary::-webkit-details-marker{
    display: none;
}
.sales summary::after{
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    content: '';
    transition: transform .3s;
}
.sales[open] summary::after{
    transform: rotate(225deg);
}
.sales dl{
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 1em 2em 2em 2em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}
.sales[open] dl{
    transform: none;
    opacity: 1;
}
    /* engineerアコーディオンのCSS */
.engineer{
    max-width: 980px;
    background-color: #fff;
}
.engineer:not([open]){
    margin-bottom: 7px;
}
.engineer summary{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #00ADC9;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.engineer summary::-webkit-details-marker{
    display: none;
}
.engineer summary::after{
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    content: '';
    transition: transform .3s;
}
.engineer[open] summary::after{
    transform: rotate(225deg);
}
.engineer dl{
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 1em 2em 2em 2em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}
.engineer[open] dl{
    transform: none;
    opacity: 1;
}

/* campaign */
.campaign_title-box{
    width: 100%;
    height: 440px;
    text-align: center;
    background-image: url(img/image_campaign-titlebg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff;
}
.campaign_title{
    padding-top: 70px;
}
.campaign_title h2{
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 500;
}
.title_border{
    border-bottom: 5px solid #00ADC9;
}
.title_text{
    margin-bottom: 40px;
    font-weight: 700;
}
.title_text a{
    color: black;
    transition: opacity 1s;
}
.title_text a:hover{
    color: #00ADC9;
    opacity: 0.5;
}
.targetaudience-sp{
    display: none;
}
.targetaudience{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    text-align: left;
}
.subject{
    font-weight: 500;
    line-height: 35px;
}
.subject p{
    display: flex;
    align-items: center;
    position: relative;
}
.subject p::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-color: #00ADC9;
}
.celebrationmoney{
    font-size: 1.5rem;
    font-weight: 700;
}
.campaign .contents{
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #00ADC9;
}
.campaign_detail{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50px;
}
.detail-box{
    max-width: 840px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.detail-box h3{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
}
.occupation p{
    font-weight: 500;
}
.conditions{
    margin-top: 35px;
}
.conditions h4{
    position: relative;
    box-sizing: border-box;
    padding-left: 26px;
    font-size: 1rem;
    font-weight: 500;
}
.conditions h4::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 0;
    position: absolute;
    float: none;
    top: 5px;
    left: 0;
    background-color: #00ADC9;
}
.conditions ol{
    margin-bottom: 30px;
}
.division{
    margin-top: 35px;
}
.division li{
    font-weight: 500;
}
.campaign_faq h2{
    margin-top: 100px;
    margin-bottom: 60px;
}
.campaign_faq-area{
    max-width: 1000px;
    margin: 0 auto;
}

    /* campaign_faqのアコーディオン */
.campaign_faq-area .campaign_faq-box{
    position: relative;
    width: 100%;
    margin: 0 0 1em 0;
    color: #333;
}
.campaign_faq-area .campaign_faq-box input {
display: none;
}
/* 質問 */
.campaign_faq-area .campaign_faq-box label {
font-weight: 700;
line-height: 1.6em;
position: relative;
display: block;
margin: 0 0 0 0;
padding: 1em 2em 1em 2.5em;
cursor: pointer;
text-indent: 1em;
border-radius: 0.5em;
background: rgba(27,37,56,0.1);
}
.campaign_faq-area .campaign_faq-box label::before {
content: 'Q';
font-size: 1.5em;
margin-left: -2em;
padding-right: 0.5em;
}
.campaign_faq-area .campaign_faq-box label:hover {
color: #00ADC9;
transition: all 0.3s;
}
/* --質問の＋アイコン */
.campaign_faq-area .campaign_faq-box label::after {
position: absolute;
top: 0;
right: 0;
content: '+';
font-size: 1.7em;
font-weight: bold;
line-height: 2em;
display: inline-block;
width: 2em;
height: 2em;
transition: transform 0.3s;
}
/* 答え */
.campaign_faq-area .campaign_faq-box .answer {
position: relative;
overflow: hidden;
max-height: 0;
padding: 0 0 0 2.5em;
border-radius: 0 0 0.5em 0.5em;
color: #333;
transition: max-height 0.2s;
}
.campaign_faq-area .campaign_faq-box .answer::before {
position: absolute;
content: 'A';
font-size: 1.5em;
margin: 0.4em 0 0 -1em;
padding: 0;
padding-right: 0.5em;
}
.campaign_faq-area .campaign_faq-box .answer p {
margin: 1em 1em 1em 0;
}
/* 質問を開いた時の仕様 */
/* --答えの高さ */
.campaign_faq-area .campaign_faq-box input:checked ~ .answer {
max-height: 40em;
border: 10px solid rgba(27,37,56,0.1);
}
/* 質問をクリックした時のアイコンの動き */
.campaign_faq-area .campaign_faq-box input:checked ~ label {
color: #00838f;
border-radius: 0.5em 0.5em 0 0;
}
/* 質問をクリックした時の+の動き */
.campaign_faq-area .campaign_faq-box input[type=checkbox]:checked + label::after {
transform: rotateZ(45deg);
transform-origin: 50% 50%;
}

.campaign_banner{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.campaign_banner img{
    width: 100%;
    object-fit: cover;
}

/* fixed_entry-btn */
.fixed_entry-btn{
    position: fixed;
    right: 0;
    bottom: 5%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.fixed_entry-btn .entry-btn{
    width: 200px;
}
.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
.is-hidden {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

/* footer */
footer{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 150px;
}
.footer_contents{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
}
.footer-left h1{
    width: 50%;
    margin-bottom: 30px;
}
.footer-left p{
    font-size: 12px;
}
.footer-left .footer_text{
    margin-bottom: 30px;
}
.footer-right .footer_menu a{
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
    color: #333;
}
.footer_copylight{
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

@media (max-width:800px){
    /* 共通 */
    .contents{
        max-width: 90%;
    }
    .title{
        line-height: 50%;
    }
    .br-tb{
        display: inline;
    }

    /* header */
    header .logo{
        margin-right: 1%;
    }
    header .logo img{
        width: auto;
        height: 30px;
        margin-bottom: 5%;
    }
    .menu{
        white-space: nowrap;
    }

    /* company */
    .company_text{
        margin-top: 10%;
        font-size: 2rem;
        line-height: 2;
    }
    .company_message{
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .company_accordion dt{
        width: 25%;
    }
    .company_accordion dd{
        width: 75%;
    }
    .office_image{
        margin-bottom: 10%;
    }

    /* symposium */
    .symposium_text{
        margin-top: 5%;
    }
    .member_faq{
        width: 90%;
    }
    .member_boxtext{
        width: 73%;
    }

    /* interview */
    .interview{
        padding-bottom: 15%;
    }
    .interview_box{
        width: 90%;
        margin: 0 auto;
        margin-top: 25px;
    }
    .interview_image{
        width: 70%;
        margin-right: 6%;
    }
    .interview_text{
        width: 30%;
    }
    .interview_text-comment{
        font-size: 17px;
    }
    .interview_faq{
        width: 95%;
    }

    /* data */
    .data_image-boxarea{
        width: 90%;
        top: 7%;
        left: 5%;
    }
    .data_image-upbox,.data_image-centerbox{
        margin-bottom: 0%;
    }

    /* campaign */
    .title_text{
        width: 77%;
        margin: 0 auto;
        margin-bottom: 2%;
    }
    .campaign_detail{
        width: 95%;
    }
    .detail-box{
        width: 85%;
    }
    .campaign_faq{
        width: 95%;
        margin: 0 auto;
    }

    /* fixed_entry-btn */
    .fixed_entry-btn{
        display: none;
    }
}


@media (max-width:600px){
    /* 共通 */
    section{
        padding-top: 50px;
    }
    .contents{
        max-width: 360px;
    }
    .title{
        font-size: 2.75rem;
        line-height: 25px;
    }
    .subtitle{
        font-size: 1rem;
    }
    .br-tb{
        display: none;
    }
    .br-sp{
        display: inline;
    }
    /* header */
    header{
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 10px 0 20px;
    }
    header .logo{
        margin: 0;
    }
    header .logo img{
        width: auto;
        height: 30px;
        margin-bottom: 5%;
    }
    header nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        transition: 0.5s;
    }
    .menu-open nav{
        padding-left: 10%;
        left: 0px;
        background-color: #fff;
    }
    header nav .menu {
        margin-top: 15%;
        display: block;
        height: 100%;
        padding-bottom: 50px;
        overflow: auto;
    }
    header nav .menu a {
        padding: 30px 0;
        font-size: 30px;
    }
        /* ハンバーガーメニュー */
    .nav-button {
        display: block;
        flex: 0 0 50px;
        width: 50px;
        height: 50px;
        position: relative;
        z-index: 1;
    }
    .nav-button span {
        left: 9px;
        width: 32px;
        height: 3px;
        background-color: #333;
        position: absolute;
        transition: 0.3s;
    }
    .nav-button span:nth-child(1) {
        top: 12px;
    }
    .nav-button span:nth-child(2) {
        top: 24px;
    }
    .nav-button span:nth-child(3) {
        top: 36px;
    }
    .menu-open .nav-button span:nth-child(1) {
        top: 23px;
        transform: rotate(315deg);
    }
    .menu-open .nav-button span:nth-child(2) {
        opacity: 0;
    }
    .menu-open .nav-button span:nth-child(3) {
        top: 23px;
        transform: rotate(-315deg);
    }
    /* mainimage */
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    .mv_catch {
         left: 0px;
    }
    /* company */
    .company_text{
        font-size: 1.5rem;
        line-height: 40px;
    }
    .company_message{
        font-size: 2rem;
    }
    .company_accordion .information{
        display: block;
    }
    .company_accordion dt{
        width: 100%;
        margin-left: 0;
        font-weight: 700;
    }
    .company_accordion dd{
        width: 100%;
    }
    .office_image{
        margin-bottom: 50px;
    }
    /* symposium */
    .symposium_text{
        padding: 0 10px;
        padding-top: 20px;
        font-size: 1rem;
        line-height: normal;
    }
    .member_image-boxup,.member_image-boxunder{
        padding: 0 2%;
        column-gap: 2%;
    }
    .member_list p{
        font-size: 0.9rem;
    }
    .member_faq{
        width: 360px;
    }
    .member_faq dt{
        margin-top: 75px;
        font-size: 1.5rem;
        text-align: center;
    }
    .member_faq dt:first-child{
        margin-top: 0;
    }
    .member_faq .member_a1-box, .member_faq .member_a2-box, .member_faq .member_a3-box {
        margin-top: 60px;
        padding: 0 3%;
        column-gap: 10px;
    }
    .member_a1-boximage,.member_a2-boximage,.member_a3-boximage{
        width: 25%;
        margin: 0 auto;
    }
    .member_boxtext{
        width: 240px;
    }

    /* interview */
    .interview_box{
        width: 100%;
        margin: 0;
        display: block;
    }
    .interview_image{
        width: 100%;
        margin-right: 0;
    }
    .interview_text{
        width: 100%;
    }
    .interview_faq{
        width: 100%;
        padding-bottom: 50px;
    }
    .interview_faq dt{
        padding-left: 3%;
        font-size: 1.5rem;
    }
    .interview_faq dd{
        padding: 0 3%;
        font-size: 1rem;
    }
    /* data */
    .data_contents{
        display: none;
    }
    .data_contents-sp{
        position: relative;
        display: block;
    }
    .data_contents-sp .data_image-boxarea p{
        width: fit-content;
        margin: 0 auto;
    }
    .data_image-boxarea{
        top: 5%;
        left: 5%;
    }
    .data_image-centerbox{
        margin-bottom: 20px;
        display: block;
    }
    .data_image-centerbox p:nth-last-child(2){
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .data_image-upbox,.data_image-underbox{
        margin-bottom: 20px;
    }

    /* recruitment */
    .recruitment_text{
        font-size: 1rem;
    }
    .recruitment_accordion .information{
        display: block;
    }
    .recruitment_accordion dt{
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .recruitment_accordion dd{
        width: 100%;
    }

    /* campaign */
    .campaign_title-box{
        padding-bottom: 150px;
        height: auto;
        background-image: url(img/image_campaign-titlebg-sp.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #fff;
    }
    .title_text{
        width: 100%;
        margin-bottom: 5%;
    }
    .targetaudience{
        display: none;
    }
    .targetaudience-sp{
        display: block;
        width: 305px;
        margin: 0 auto;
    }
    .targetaudience-sp .subject{
        font-weight: 500;
        text-align: left;
    }
    .targetaudience-sp .celebrationmoney{
        margin-top: -4%;
        margin-left: 10%;
        font-size: 1.5rem;
        font-weight: 900;
        text-align: left;
    }
    .targetaudience-sp_1{
        margin-bottom: 5%;
    }
    .targetaudience-sp_3{
        margin-top: 5%;
    }
    .campaign_detail{
        max-width: 360px;
    }
    .detail-box{
        max-width: 290px;
    }
    .detail-box h3{
        font-size: 1.5rem;
        font-weight: 700;
    }
    .campaign_faq-area{
        max-width: 360px;
    }

    /* footer */
    footer{
        margin-top: 100px;
    }
    .footer_contents{
        display: block;
        text-align: center;
    }
    .footer-left{
        width: 350px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .footer-left .logo{
        width: 220px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

/*画面サイズが変わっても常に動画の中央が表示されるようにする*/
    /*動画よりも画面が横に長くなるとき用*/
    @media (aspect-ratio: 16/9), (min-aspect-ratio: 16/9) {
        video {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        }
    }
    /*動画よりも画面が縦に長くなるとき用*/
    @media (max-aspect-ratio: 16/9) {
        video {
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        }
    }
